


html {
	background-size: cover;
}



body.morgen {
	
	background: url(backgrounds/morning.png);
	background-size: cover;
	background-repeat: no-repeat
}

body.middag {
	
	background: url(backgrounds/afternoon.png);
	background-size: cover;
	background-repeat: no-repeat;

}

body.avond {
	
	background: url(backgrounds/evening.png);
	background-size: cover;
	background-repeat: no-repeat;

}

body.nacht {
	
	background: url(backgrounds/night.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.base {
	text-align: center;
	margin: 250px auto;
	font-family:  Comic Sans, Comic Sans MS, cursive;
	color: white;
	font-size: 30px;
}